@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: aqua;

}
.box{
    height: 200px;
    width: 300px;
    color: black;
    text-align: center;
    
}
h1{
    color: black;
    text-shadow: 4px 4px 9px red;
}