body{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
}
h2{
    background-color: white;
}
#foot
{
    font-size: 48px;
    color: blue;
}

.subTitle{
    background-color: chartreuse;

}
.textbold{
    font-weight: bold;
    font-size: 20px;
}
#first{
    font-size: 48px;
}
#second{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#third{
    padding: 20px;
}
#first,#second,#third{
    margin: 10px;
}
footer > p{
    color: white;
    font-weight: bold;
    font-size: 20px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}